<!-- <div class="header-info">
  <span class="header-info-name">{{ site.title }}</span>
  <span class="header-info-desc">{{ site.description }}</span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    <li class="header-main-nav-item">
      <a href="/"><span class="fa fa-home" style="font-size:24px"></span> Home</a>
    </li>
    <li class="header-main-nav-item">
      <a href="/recsys"><span class="fa fa-file-text-o" style="font-size:24px"></span> RecSys</a>
    </li>
    <li class="header-main-nav-item">
      <a href="/about"><span class="fa fa-user" style="font-size:24px"></span> About</a>
    </li>
    {% for menus in site.data.menus %}
    <li class="header-main-nav-item">
      <a href="{{ menus.url }}"><span class="fa fa-user" style="font-size:24px"></span> {{ menus.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav> -->

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">{{ site.title }}</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			{% for menus in site.data.menus %}
    		<li><a href="{{ menus.url }}">{{ menus.title }}</a></li>
    		{% endfor %}
		</ul>
	</div>
	</div>
</nav>
