body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}
@media screen and (min-width: 64em) {
    .main-content {
        max-width: 840px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
    }
}
